@page "/"
@using Syncfusion.Blazor.Calendars

<PageTitle>Index</PageTitle>

<AuthorizeView>
    <Authorized>
        @if (IsLoading)
        {
            <h2>Loading...</h2>
        }
        else
        {
            <p>Hello, @context.User.Identity.Name</p>
            @if (MovieDetails?.Any() ?? false)
            {
                <h2>Favorite Movies</h2>
                <ul>
                    @foreach (var movie in MovieDetails)
                    {
                        <MovieDetails Movie="movie" OnRemoveFavoriteMovie="RemoveFavoriteMovie" />
                    }
                </ul>
            }
            else
            {
                <h2>You have no favorite movies saved.</h2>
            }
        }
    </Authorized>
    <NotAuthorized>
        <p>You haven't logged in, please login to view your favorite movies list</p>
    </NotAuthorized>
</AuthorizeView>


@*@if(roles?.Any() ?? false)
{
    <h2>Roles</h2>
    <ul>
        @foreach (var role in roles)
        {
            <li>@role</li>
        }
    </ul>
}*@