@page "/search"
@using Microsoft.AspNetCore.Components.QuickGrid;

<label>Search</label>
<InputText @bind-Value="SearchTitle" />
<button @onclick="SearchOMDB">Search</button>

@if (movies is not null)
{
    <QuickGrid Items="@movies">
        <PropertyColumn Property="@(m => m.Title)" />
        <PropertyColumn Property="@(m => m.Year)" />
        <TemplateColumn Title="Add Movie to Favorites">
            <button @onclick="@(() => AddMovie(context))">Add Movie</button>
        </TemplateColumn>
    </QuickGrid>
}

