@inherits LayoutComponentBase

<header>
    <h1>Season - Episode</h1>
</header>

<nav>
    <a href="main-list">Season List</a>
    <a href="episode-list">Episode List</a>
    <a href="episode-details">Episode Details</a>
</nav>

@Body

<footer>
    Favorite Movies (and TV Shows)
</footer>

@code {

}
